.footer{
    background-color: #353d47;
    padding: 2em 5%;
    color: #fff;
    font-family: "Times New Roman";
}

.social-network{
	font-size:50px;
	display:inline-block;
}
.facebook{
	color: #3B5998;
}
.youtube{
	color: #e62117;
}
.google{
	color: #ff3300;
}
.twitter{
	color: #55acee;
}