
<div *ngIf="exchange">
    <h2><span jhiTranslate="putatuApp.exchange.detail.title">Exchange</span> {{exchange.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="putatuApp.exchange.coin">Coin</span></dt>
        <dd>
            <span>{{exchange.coin}}</span>
        </dd>
        <dt><span jhiTranslate="putatuApp.exchange.createAt">Create At</span></dt>
        <dd>
            <span>{{exchange.createAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="putatuApp.exchange.exchange">Exchange</span></dt>
        <dd>
            <div *ngIf="exchange.exchange">
                <a [routerLink]="['/customer', exchange.exchange.id]">{{exchange.exchange.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="putatuApp.exchange.product">Product</span></dt>
        <dd>
            <div *ngIf="exchange.product">
                <a [routerLink]="['/product', exchange.product.id]">{{exchange.product.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'exchange/'+ exchange.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
