<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductLabel" jhiTranslate="putatuApp.product.home.createOrEditLabel">Create or edit a Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="product.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.percent" for="field_percent">Percent</label>
            <input type="number" class="form-control" name="percent" id="field_percent"
                [(ngModel)]="product.percent" required/>
            <div [hidden]="!(editForm.controls.percent?.dirty && editForm.controls.percent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.percent?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.percent?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 100px;" *ngIf="product.image" alt="product image"/>
                <div *ngIf="product.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, product, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="product.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="product.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="product.content" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="product.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                [(ngModel)]="product.link" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.numberOfViews" for="field_numberOfViews">Number Of Views</label>
            <input type="number" class="form-control" name="numberOfViews" id="field_numberOfViews"
                [(ngModel)]="product.numberOfViews" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="product.categoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="putatuApp.product.provider" for="field_provider">Provider</label>
            <select class="form-control" id="field_provider" name="provider" [(ngModel)]="product.providerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="providerOption.id" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
